* {
	margin: 0;
	padding: 0;
	font-family: tahoma, sans serif;
	box-sizing: border-box;
}

body {
	background: #838687;
}

.messageFin {
	display: none;
	background-color: #FF0000;
	position: fixed;
	height:100vh;
	width:100vw;
	z-index: 2;	
}

/* interface entière*/
.chatbox {
	width: 100vw;
	max-width: 500px;
	height: 100vh;
	max-height: 850px;
	background: #A9A9A9;
	padding-top: 0px;
	margin: 0px auto 0px auto;
	box-shadow: 0 3px #D0D0D0;
	border-radius: 0%;

}

/*header*/
.header {
	position: fixed;
	z-index: 1;
	width:100vw;
	max-width: 500px;
	height: 12%;
	background-color: #EFEFEF;
    opacity: .97;
}
/* zone message*/
.chatlogs{
	padding: 20px;
	display: block;
	margin: auto; 
	width: 100%;
	height: 80%;
	background: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
	border-radius: 0%;


}

.chatlogs::-webkit-scrollbar{
	width: 10px;
	display: none;

}

.chatlogs::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

.chat{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin-bottom: 10px;

}

.chat .self{
	align-items: flex-end;
}


.chat .user-photo .one .two{
	width: 60px;
	height: 60px;
	background-color: #ccc;
	border-radius: 50%;

}

.one{
	width: 100%;
	width: 60px;
	height: 60px;
	background-color: #ccc;
	border-radius: 50%;
	margin-top: 8px;
}

.two{
	width: 100%;
	width: 60px;
	height: 60px;
	background-color: #ccc;
	border-radius: 50%;
	margin-top: 8px;
}

.chat .chat-message{
	width: 70%;
	padding: 15px;
	margin: 10px 10px 0;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;

}

.friend .chat-message{

	background-color: #e5e5ea;
	color:#303030;
}

.self .chat-message{
	background-color: #1acca9;
	order: -1;
}



/* blockblanc*/
.chatform{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 20%;
}

.option{
	padding: 18px;
	background-color: #A9A9A9;
	text-align: center;
	color: #FFFFFF;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	border-bottom: 1px solid #FFFFFF;

}








