---
title: Cybescape
---

<div class="messageDebut">
	<img src="images/logo.png">
	<button onclick="begin()" class="btnBegin">Commencer</button>
</div>

<div class="messageFin">
	<img src="images/infoFin.png">
	<img src="images/cyber-harcelement.png">
</div>
<div class="chatbox">
	<div class="header">
	</div>
 	<div class="chatlogs">
 		<br>
 		<br>
 		<br>
 		<br>
	</div>
	<div class="chatform">
 	</div>
</div>
